.summary {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  /* background: linear-gradient(50deg, #ffa7a713, #00000040); */
  background-color: #15212d;
  color: white;
  border-radius: 15px;
  /* backdrop-filter: blur(5px); */
  padding: 1rem;
  box-shadow: 0 -1px 18px 10px #2c3e5032;
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}
