.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #00000040;
  color: white;
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 250px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #121b23;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #2c3e50;
  padding: 0.25rem 0.7rem;
  border-radius: 50px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #2c3e50;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
